<div style="font-family:Arial,Helvetica,sans-serif;font-size:16px;line-height:1.5;color:#0f172a">
  <p>Your OTP is <strong>{{otp}}</strong>.</p>
  <p>This code will expire in {{expiresInMinutes}} minutes.</p>
</div>
